.DS_Store
/.build
/.index-build
/Examples/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/.vscode
*.pyc
/.swiftpm
vcpkg_installed/
*.trace
