name: Build macOS

on:
  push:
    branches-ignore:
      - 'gh-pages'
  pull_request:
    branches-ignore:
      - 'gh-pages'

jobs:
  build-mac:
    runs-on: macos-14
    steps:
    - name: Force Xcode 15.4
      run: sudo xcode-select -switch /Applications/Xcode_15.4.app
    - uses: actions/checkout@v3
    - name: Install Dependencies
      run: brew install pkg-config gtk4 gtk+3 || echo "This step 'fails' every time but it's just a brew linking error - not important."
    - name: Build
      run: |
        cd Examples && \
        swift build --target GtkCodeGen && \
        swift build --target SwiftCrossUI && \
        swift build --target GtkBackend && \
        swift build --target Gtk3Backend && \
        swift build --target AppKitBackend && \
        swift build --target CounterExample && \
        swift build --target ControlsExample && \
        swift build --target RandomNumberGeneratorExample && \
        swift build --target WindowingExample && \
        swift build --target GreetingGeneratorExample && \
        swift build --target NavigationExample && \
        swift build --target SplitExample && \
        swift build --target StressTestExample && \
        swift build --target SpreadsheetExample && \
        swift build --target NotesExample && \
        swift build --target GtkExample
    # Calling `swift test` results in all targets getting built including targets such as WinUIBackend which
    # aren't available on macOS.
    # - name: Test
    #   run: swift test
